In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('data.csv',header=0)
data

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes

In [9]:
d = np.array(data)[:,:-1]
print("The Attributes are:\n",d)

The Attributes are:
 [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [12]:
target = np.array(data)[:,-1]
print("The target is:\n",target)

The target is:
 ['Yes' 'No' 'Yes' 'Yes']

In [16]:
def train(c,t):
    for i,val in enumerate(t):
        if val == 'Yes':
            sh=c[i]
            break
    for i,val in enumerate(c):
        if t[i] == 'Yes':
            for x in range(len(sh)):
                if val[x]!=sh[x]:
                    sh[x]='?'
                else:
                    pass
    return sh

In [17]:
train(d,target)

array(['?', 'Sunny', '?', 'Yes', '?', '?'], dtype=object)